.header-wraper {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 21;

}
.logo {
	display: inline-block;
	vertical-align: middle;
	margin: 4px 119px 23px 140px; 
	
}
.navigation {
	display: inline-block;
	vertical-align: middle;
}
.nav-li {
	display: inline-block;
	margin-right: 30px;	
}
.nav-a {
	color: #181C28;
	font-size: 16px;
}
.active {
	opacity: 0.5;
}
.image-wraper {
	margin-top: 124px;
	width: 100%;
	position: relative;


}
.image {
	width: 100%;
	/*height: 100%;*/
}
.image-text1 {
	position: absolute;
	top: 105px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	color: #FFFFFF;
}
.image-text2 {
	position: absolute;
	top: 143px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	color: #FFFFFF;
}
.sec2-title {
	font-size: 22px;
	color: #FF7A00;
	margin: 84px 1290px 81px 172px;
	letter-spacing: 2px;
}
.left-block {
	width:600px;
	display: inline-block;
	margin-right: 30px;
	margin-left: 50px;
	/*padding: 2px;*/

}
.right-block {
	width:600px;
	display: inline-block;
	/*padding: 2px;*/

}
.text-block {
	font-size: 16px;
	display: inline-block;
	margin-bottom: 20px;
}
.container {
	
	margin: auto;
	margin-top: 50px;
}
.image-block {
	width: 100%
}
.article-title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 36px;
}
.text-block1 {
	color: #FF7A00;
	font-size: 16px;
	vertical-align: middle;

}
.text-block1::after {
	content: ' ';
	height: 4px;
	width: 47px;
	background-color: #FF7A00;
	margin-left: 15px;
	
	display: inline-block;
	vertical-align: middle;
}
.load-div {
	width: 190px;
	height: 70px;
	background-color: #FF7A00;
	color: white;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 70px;
	padding: 24px 45px;

}
.blank {
	background-color: #181C28;
	margin-top: 130px;
	width: 100%;
	height: 200px;
}
.footer-container {
	margin-top: 80px;
	width: 100%;
	height: 215px;
}
.footer {
	display: inline-block;
	margin-left: 100px;
	vertical-align: text-top;
	

}
.footer-title {
	font-size: 24px;
	margin-bottom: 15px;
}
.footer-li {
	margin-bottom: 10px;
	font-size: 16px;
	color: #7B7B7B;
}